{% extends 'blog/base.html' %}
{% load static %}


{% block title %}EAGOALYG|首页{% endblock %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item active" aria-current="page">首页</li>
	  	</ol>
	</nav>
{% endblock %}

{% block content %}
    {% if blogs %}
		
		{% for blog in blogs %}
			<a href="{% url 'blog:blog_detail' blog.pk %}"><h3>{{ blog.title }}</h3></a>
			<p>{{ blog.content|truncatechars:30 }}</p>
		{% endfor %}
	{% else %}
		<p>No blog to watching</p>
	{% endif%}
{% endblock %}
