{% extends 'blog/base.html' %}
{% load static %}

{% block title %}EAGOALYG|new{% endblock %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item"><a href="{% url 'blog:index' %}">首页</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">new</li>
	 	</ol>
	</nav>
{% endblock %}

{% block content %}
	
	<form method="POST">
	    {% csrf_token %}
	    {{ form }}
	    <button type="submit" class="btn btn-success">Post</button>
	</form>
	
{% endblock %}
